#header{
    width: 100%;
    height: 10rem;
}

.header__hotline{
    width: 100%;
    overflow: hidden;
    display: inline-block;
    height: 0.95rem;
}
.header__hotline--info{
    
    float:left;
    margin-left: 2rem;
    font-size: 12px;
    color: #888888;
}
.header__hotline--info a,icon:link{
    text-decoration: none;
    color: #888888;
}
.header__login{
    width: 100%;
    height: 3rem;
    display: inline-block;
    overflow: hidden;
    text-transform: uppercase;
    color: black;
}
#nav-link-main{
    font-weight: bold;
    font-size: large;
}
.nav-link{
    font-weight: 500;
}
.nav-link:hover{
    color: rgb(9, 250, 9);
}
.header__login--logo{
    width: 10%;
    height: 2rem; 
    float: left;  
}

.header__login--logo img{
    width: 100%;
    height: 100%; 
    margin: 1rem 0 0 4rem;     
}

.header__login--search{
    width: 23rem;
    float: left;
    margin-top: 1rem;
    margin-left: 5rem;
}
.login--search-text{
    width: 20rem;
}

.header__login--infomation{  
    font-size: 18px;
    float: right;
    margin-top: 1rem;   
    color: black;
}

.header__nav{
    margin-top: 1rem;
    background-color: black;
    overflow: visible;
    width: 100%;
    height: 3rem;
    z-index: 100000;
    display: block;
    position: relative;  
}

.nav{
    margin-left: 5rem;
    text-align: center;
}
.taskbar{
    position: sticky;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav-item{
    position: relative;
}
.nav-link{
    color:white;
    margin-left: 2rem;
    padding-top: 1rem;
}

#main{
    width: 100%;
    
}
.quangcao{
    margin-left: 5rem;
    height: 30rem;
}
.quangcao__to{
    position: relative;
    width: 55rem;
    height: 30rem;
    overflow: hidden;
    float: left;
}
.quangcao__to__img{
    display: flex;
    object-fit: cover;
    transition: 1s all;
}
.img__to{
    width: 55rem;
    height: 30rem;
    transition: 1s all;
}

.quangcao__iconback{
    font-size: 32px;
    transform:  translateY(-17rem) translateX(0);
    cursor: pointer;
}
.quangcao__iconnext{
    font-size: 32px;
    transform: translateY(-17rem) translateX(50rem);
    cursor: pointer;

}

.img__nho{
    width: 30rem;
    height: 15rem;
}
@media screen and (max-width: 92rem) {
    .quangcao{
        height: 45rem;
    } 
    .img__to{
        width: 100%;
    }
    .img__nho{
        width: 40%;
        height: 15rem;
        object-fit: cover;
    }
  }
@media screen and (max-width: 61rem) {
    .quangcao{
        height: 60rem;
    }
    .quangcao__to{
        width: 100%;
    }
    .img__to{
        width: 100%;
    }
    .img__nho{
        width: 80%;
        height: 15rem;
        object-fit: cover   ;
    }
  }
.main__item{
    font-size: 3rem;
    position: fixed;
    cursor: pointer;
    right: 0;
    top: 15rem;
}
.giohang__number{
    position: fixed;
    right: 1.1rem;
    top: 21rem;
    color: red;
    cursor: pointer;
}
.main__home{
    font-size: 3rem;
    position: fixed;
    cursor: pointer;
    right: 0;
}
.main__home a:link{
    text-decoration: none;
}
.container{
    border-bottom: 0.01rem dotted black;
    padding: 2rem;
    margin-bottom: 2rem;
}
.container__hot, .container__sale{
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

.container__menu{
    
    color: black;
    cursor: pointer;
    float: left;
    width: 15rem;
    margin-top: 5rem;
}

.dropdown-toggle{
    color: black;
    float: left;
    
}
.dropwn-item-list{
    width: 7rem;
    
}

.col img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    padding: 1rem;
    overflow: hidden;   
}

.cost button{
    color: red;
    font-weight: bold;
    border: none;
    margin-left: 5rem;
}

#myImg {
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.myGioHang{
    height: 20rem;
    width: 20rem;
    background-color: antiquewhite;
    
    display: none;
    top: 20rem;
    right: 0rem;
    position: fixed;
    z-index: 100000;
}

.myGioHang>h2{
    text-align: center;
    
}
.myGioHang__noidung{
    height: 13rem;
    width: 17rem;
    box-sizing: border-box;
    word-break: keep-all;
    overflow: scroll;
    padding: 2rem;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    display: inline-block;
    
}
#soluong{
    float: left;
}
#gia{
    float: right;
}
.tong{
    border-top: 2px solid black;
    margin: 1rem 2rem 0 2rem;
    color:  red;
    font-weight: bold;
    font-size: larger;
}
#text{
    float: left;
    margin-left: 2rem;
}
#tong{
    float: right;
    margin-right: 0rem;
}
#btn1{
    top: 20rem;
    right: 0rem;
    position: fixed;
    z-index: 100000;
}

  
#myImg:hover {opacity: 0.7;}
  
  /* Nền sau khi click */
.modal {
    display: none; /* mặc định */
    position: fixed; /* cố định */
    z-index: 1; /* lên đầu */
    padding-top: 100px; /* vị trí của ảnh */
    left: 0;
    top: 0;
    width: 100%; /* dài */
    height: 100%; /* cao */
    overflow: auto; /* bật cuộn nếu cần */
    background-color: rgba(0,0,0,0.9); /* màu nền */
}
  
  /* Ảnh sau khi click */
.modal-content {
    margin: auto;
    display: block;
    width: 35%;
    max-width: 700px;
}
  
/* Chú thích ảnh */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* Hiệu ứng phóng to */
.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}
  
/* Nút X */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* màn hình nhỏ hơn 700px */
@media only screen and (max-width: 700px){
  .modal-content {
     width: 100%;
  }
}